body { color: white; 
		  background-color: white;}

#contact {font-family: Avenir;
		 text-align: center}

hr {margin-top: 25px}

#boutons {text-align: center}

#boutons a {font-family: Avenir;
			font-size: 14px;
			color: rgb(179, 125, 9,0.8);
			}

a:hover {color:rgb(245, 174, 127);}


#boutons hr {margin-bottom: 40px}

#partie1 { display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-around; }

#rub {display: flex;
		  flex-wrap: wrap;
			 align-items: right;
			flex-direction: row-reverse;
			padding-top:20px;
			margin-right: 35px}

a {text-decoration: none;
	color: rgb(0,0,0, 0.8);
	font-size: 14px;
	font-family: Avenir;
	}


ul {list-style-type: none;
	margin-left: -35px}


.rubriques { padding: 10px ;
			 padding-right: 20px;
			 padding-left: 20px;
			 margin: 2px;
			 }




#bartitre { display: flex;
			align-items: center;
			height: 600px;
		   margin-right:-8px;
		   margin-left: -10px;
		   margin-top: -20px;
		   margin-bottom: -18px;
		   background-image:
				linear-gradient(360deg, rgba(0,0,0,0.6) 8%, rgba(0,0,0,0.1) 50%) ,
				url(sunset.jpg);
				background-size: cover;
				text-align: center}

#bartitre p {margin:auto;
			font-family: Optima;
			 font-size: 75px}

#barbas { background-color: white;
		   height: 800px;
		   margin: -8px;
			color: rgb(0,0,0,0.8);
			font-family: Avenir;
			font-size: 16px;
			padding-bottom: 100px}

#texte {width: 500px;
		margin-left: 10px;
		padding-top: 90px;
		margin-bottom: 40px}


.content {display: flex;
		  align-items: center;
		  flex-wrap: wrap;
			justify-content: space-around;
			margin-top: 50px}

.description {width: 300px;
			  padding-left: 80px;
			   color: rgb(0,0,0,0.8);
			font-family: Avenir;
			font-size: 16px}

.description h2 {font-size: 30px}



#cap {padding-left: -80px;
	  padding-right: 145px;}





@media (max-width: 878px) {
  #cap{
    padding-right:  40px;
  }
}
@media (max-width: 540px) {
  #cap{
    padding-right:  90px;
  }
}

@media (max-width: 580px) {
  #texte{
    width:  400px;
  }
}







// diaporamas: 

*{box-sizing: border-box}

img{max-width: 100%}

input[type=radio]{

position: absolute;
left: -1999px

}/*on cache tous les input*/



.cadre-demo2 label{

cursor:pointer/*on pointe tous les labels*/

}

.cadre-demo2{

overflow: hidden;
position: relative;
max-width: 500px;
margin: 2rem auto

}



.cadre-demo1 label{

cursor:pointer/*on pointe tous les labels*/

}

.cadre-demo1{

overflow: hidden;
position: relative;
max-width: 500px;
margin: 2rem auto

}


.photos-mini{


padding-top: 66.67%;/* il s'agit du ratio pour le responsive*/
display: flex;

}

.miniature{

flex: 1; /*les photos occupent la même place selon la largeur du conteneur*/
padding:.25rem;
height: 125px;

}



.fenetre3,.fenetre2,.fenetre{/*grande photo*/
width:500px;
height: 330px;
object-fit: cover;
position: absolute;
top: 0;
transition:all .6s;
left: 0%;
opacity: 0

}

.fen:checked~ .fenetre{

left: 0;
opacity: 1

}

.fen2:checked~ .fenetre2{

left: 0;
opacity: 1

}

.fen3:checked~ .fenetre3{

left: 0;
opacity: 1

}

figcaption{/*optionnel*/

position: absolute;
top: 0;
left: 0;
padding: .25rem;
transition: opacity .4s;
opacity: 0;
display: flex;
justify-content: center;
color: white;
background: hsla(0,0%,0%,.8)

}

.fen:checked~figcaption{

opacity: 1

}

.fen2:checked~figcaption{

opacity: 1

}


.fen3:checked~figcaption{

opacity: 1

}
